.locations {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}

.location {
  display: flex;
  flex-flow: column;
  flex-basis: 15%;
  margin: 1em;
  padding: 1em;
  border: 1px solid rgb(163, 59, 59);
}

.location-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}