.animals {
  display: flex;
  flex-flow: column wrap;
  justify-content: left;
  padding: 0 1rem
}

.animal-card {
  flex-basis: 20%;
  margin: 1em;
  padding: 1em;
  border: 1px solid rgb(163, 59, 59);
}

.animal-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.animalList {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  padding: 0 0;
  margin: 0 0;
}

.animal__details {
  padding: 0 .5rem;
}

.animal__name {
  justify-self: center;
  align-self: center;
}

.add-pet-btn {
  width: 50%;
  height: auto;
}

